/*
These config does not change the default Trello's styling drastically, 
but does make Trello look a bit more polished. 
Key elements of new styling is big background image (see body style) and semitransparency.

Author: Sergey Pozhilov (http://pozhilov.com)
License : Do whatever you want with the file
*/


body {
    background: url(http://cinemagraphcollection.com/cinemagraphs/5658550961_6976fa5188_o.gif);
    background-size: cover;
}

#board-header a {
    color: white;
}

#header {
    background: rgba(0,10,15,.8);
}

.board-header {
    background: rgba(0,10,15,.6);
    padding-bottom: 9px;
}

.board-list li {
    opacity: 0.9;
}

.board-name .text {
    color: white;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: transparent;
}

.open-card-composer {
    background: transparent;
    color: #222;
}

.window-wrapper {
    background: #f5f5f5;
}

a.gold-pitch.js-gold-ad {
    display: none;
}

div.board-canvas {
    background: rgba(0,0,0,.3);
}

div.list {
    background: rgba(255,255,255,.6);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

div.window-wrapper, .window-main-col {
    background: white;
}

div.window-wrapper>.clearfix.editable {
    background: white;
}

