/*
These config does not change the default Trello's styling drastically, 
but does make it look a bit more polished. 
Key elements of new styling is big background image (see body style) and semitransparency.

Author: Sergey Pozhilov (http://pozhilov.com)
License : Do whatever you want with the file
*/


#board-header a {
    color: white;
}

#header {
    background: rgba(0,0,0,.6);
}

.agile_spent_item_title, #spent_recent_cards {
    display: none;
}

.agile_spent_items_container tbody {
    background: none;
}

.board-header {
    background: rgba(0,0,0,.4);
    padding-bottom: 9px;
}

.board-list li {
    opacity: 0.9;
}

.board-name .text {
    color: white;
}

.fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: transparent;
}

.open-card-composer {
    background: transparent;
    color: #222;
}

.window-wrapper {
    background: #f5f5f5;
}

a.gold-pitch.js-gold-ad {
    display: none;
}

body {
    background: url(https://dl.dropboxusercontent.com/u/92424056/inception-whip-top.jpg);
    background-size: cover;
}

div.board-canvas {
    background: rgba(0,0,0,.3);
}

div.list {
    background: rgba(255,255,255,.4);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0);
}

div.window-wrapper, .window-main-col {
    background: white;
}

div.window-wrapper>.clearfix.editable {
    background: white;
}

